@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ahorcado</h1>
    <p>El juego del Ahorcado consiste en adivinar una palabra oculta ingresando letras una por una. Cada vez que el jugador acierta, la letra se muestra en la palabra, y si falla pierde un intento. El objetivo es descubrir la palabra completa antes de quedarse sin intentos.</p>
    <section>
        <div>
            <p>@for(int i=0; i<ViewBag.palabraAdivinar.Length; i++)
            {
                @Html.Raw(value:"_")
            }
            </p>
        </div>
    </section>
</div>
